* {
  margin: 0px
  padding: 0px;
}

body {
  margin: 0px;
  padding: 0px;
}

/* Header */

header {
  font-family: Verdana;
  font-size: 14px;
  width: 100%;
  font-weight: bold;
  padding-bottom: auto;
  border-bottom: 1px solid black;
  margin-bottom: 7px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  z-index: 1;
  position: fixed;
  background-color: white;
}

.logotop {
  display: flex;
  align-items: center;
  color: mediumaquamarine;
  margin-left: 30px;
}

.toptimes {
  margin-left: 9px;
}

header span {
  display: inline-block;
  text-decoration: underline;
  margin: 0px 5px;
}

/* Main Section */

.main {
  display: flex;
  justify-content: center;
  font-family: Georgia;
  font-size: 17px;
  color: black;
  padding-top: 81px;
}

/* Large Main Column */

.large {
  width: 630px;
  margin-right: 40px;
  display: inline-flex;
  flex-direction: column;
}

.large span {
  color: white;
  font-family: Georgia;
  font-size: 30px;
  font-weight: bold;
}

.futp1 {
  display: flex;
  text-align: center;
  height: 275px;
  background-image: url("../images/table.png");
  justify-content: center;
  align-items: center;
}

.topstory {
}

.stories {
  display: flex;
  justify-content: space-between;
}

.midlarge {
  display: block;
}

.futp2 {
  background-image: url("../images/girl.png");
  height: 300px;
  width: 300px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.botlarge {
  display: block;
}

.futp3 {
  background-image: url("../images/guy.png");
  height: 300px;
  width: 300px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items:center;
}

/* Medium Main Column */

.medium {
  width: 300px;
  margin-right: 40px;
  display: inline-flex;
  flex-direction: column;
}

.medium span {
  color: white;
  font-family: Georgia;
  font-size: 30px;
  font-weight: bold;
}

.fbi {
}

.catstory {
}

.futp4 {
  text-align: center;
  display: flex;
  background-image: url("../images/cat.png");
  height: 258px;
  justify-content: center;
  align-items: center;
}

/* Small Main Column */

.small {
  width: 240px;
  display: inline-flex;
  flex-direction: column;
}

.newsbites h3 {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.newsbites span {
  display: block;
  padding: 11px 20px;
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  border-top: 1px solid black;
}

.newsbites .botspan {
  border-bottom: 1px solid black;
}

/* Footer */

footer {
  display: flex;
  text-align: center;
  background-color: MediumAquamarine;
  margin-top: 75px;
  font-family: Verdana;
  font-size: 12px;
  width: 100%;
  height: 325px;
  align-items: center;
  justify-content: center;

}

.bottitle {
  fontfamily: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
  padding-right: 8px;
  border-right: 2px solid white;
  margin-right: 10px;
}

.botnav {
  display: inline;
}

.botnav span {
  margin: 0px 10px;
  text-decoration: underline;
  text-decoration-color: rgb(0, 0, 0);
  text-decoration-style: solid;
}

.botnav a {
  color: black;
}
